#part1{
	height: 800px;
	background-color: #778beb;
}
#part2{
	height: 800px;
	background-color: #786fa6;
}
#part3{
	height: 800px;
	background-color: #546de5;
}
#part4{
	height: 800px;
	background-color: #574b90;
}