.hidden1{
	opacity: 0;
}
.hidden2{
	opacity: 0;
}
.hidden3{
	opacity: 0;
}
.show{
	-webkit-animation: fadeIn 1.5s ; 
  	animation:        fadeIn 1.5s ;
}
#right{
	display:inline-block;
	width: 50%;
	height:40%;
	align-items: center;
	justify-content: center;
	text-align: center; 
}
#c{
	height:100%;
	padding: 30% 5%;
}

#quote{
	display:inline-block;
	justify-content: center;
	padding-top:30%;
	margin: 0 auto;
	height:100%;
	width: 80%;
	border:5px solid black;
}
section{
	flex-direction: row;
	
}
img{
	display:inline-block;
	width:50%;
	margin-left: auto;
    margin-right: auto;
}
#container{
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#part1{
	display:inline-flex;
	padding:10% 0%;
	height: 800px;
	width: 100%;
	background-color: #778beb;
	flex-direction: row;
	align-items: center;
}
#part2{
	display: inline-flex;
	height: 800px;
	width: 100%;
	background-color: #786fa6;
	flex-direction: column;
	align-items: center;
}
#part3{
	display: inline-flex;
	height: 800px;
	width: 100%;
	background-color: #546de5;
	flex-direction: column;
	align-items: center;
}
#part4{
	display: inline-flex;
	height: 800px;
	width: 100%;
	background-color: #574b90;
	flex-direction: column;
	align-items: center;
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
